<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    <title>{% block metaTitle %}{% endblock metaTitle %}</title>
</head>
<body>
<header class="header">
    <nav class="d-flex justify-content-center align-items-center">
        <p class="text-deco">Espace Admin</p>
    </nav>
</header>
<main>
    {#            Je créer une boucle me permettant d'afficher un message flash success or error #}
    {#            J'attribue des classe pour le style.css#}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% block main %}
    {% endblock main %}
</main>
<footer class="footer">
</footer>
</body>
</html>