<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block metaTitle %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
<header>
    <form action="{{ path('search') }}" method="get">
        <input type="text" name="q" placeholder="recherche...">
        <input type="submit" value="Rechercher">
    </form>
    {% block header %}
    {% endblock %}
</header>

<main>
    {% block main %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>


</body>
</html>
