{% extends 'base.html.twig' %}



    {% block main %}
        <main>
            <article>
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>

            </article>
        </main>
    {% endblock main %}
