{% extends 'base.html.twig' %}

{% block metaTitle %}
    {{ categorie.title }}
{% endblock metaTitle %}

    {% block header %}
        <a href="http://127.0.0.1:8000/categorie"><img src={{ asset('media/logo.png')}} alt="" class="resp"></a>
    {% endblock %}

    {% block main %}
        <main>
            <article>
                <h1>{{ categorie.title }}</h1>
                <p>{{ categorie.description }}</p>
            </article>
        </main>
    {% endblock main %}

    {% block text %}
        <footer class="footer">

        </footer>
    {% endblock %}
